@model FormSubmissionDemo.Models.ImageModel
@{
    var id = Guid.NewGuid().ToString();
    var formMode = (FormMode)ViewData["FormMode"];
}
<div>
    <div id="div_@(id)" role="button" tabindex="0" class="btn btn-secondary @(formMode == FormMode.Edit ? string.Empty : "d-none")">ファイルを選択</div>
    <input id="input_@(id)" type="file" asp-for="FormFile" style="display: none;" />
    <input type="hidden" asp-for="ImageName" value="@Model.ImageName">
    <input type="hidden" asp-for="TempImageName" value="@Model.TempImageName">
    <img id="img_@(id)" src="@Model?.Src" alt="@Model?.Alt" style="display: block; width: 400px" class="mt-2">
    <span asp-validation-for="@Model" class="text-danger"></span>
    <script>
        initImageUploader('@id');
    </script>
</div>