@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex">
        <a class="btn btn-primary me-2" href="@Url.Action("Create")">Create</a>
        <a class="btn btn-primary" href="@Url.Action("Edit", new { Id = 1})">Edit</a>
    </div>
</div>
