@using FormSubmission.Controllers
@model SaveModel
@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/header@latest"></script><!-- Header -->
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/list@latest"></script><!-- List -->
    <script src="https://cdn.jsdelivr.net/npm/@@editorjs/editorjs@latest"></script>
}
@using (Html.BeginForm())
{
    <div class="">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Content" class="form-label"></label>
        <div id="editorjs"></div>
        <input type="hidden" asp-for="Content" id="content"/>
    </div>
    <div class="mt-4 blockContainer">
        <label asp-for="Blocks" class="form-label"></label>
        @for (var i = 0; i < Model.Blocks.Count; i++)
        {
            ViewData["blockIndex"] = i;
            <partial name="_Block.cshtml" model="Model.Blocks[i]"/>
        }
    </div>
    <button id="btnAddBlock" type="button" class="btn btn-sm btn-primary mt-2">Add Block</button>
    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}
<script>
    function handleAddBlockClick() {
        const blockContainer = $(".blockContainer");
        const blocks = blockContainer.find(".block");
        const blockIndex = blocks.length;
        
        $.ajax({
            url: '@Url.Action(nameof(HomeController.Block))',
            method: 'GET',
            data: { blockIndex }
        }).done(function (block) {
            blockContainer.append(block);
            setupEditor(blockIndex);
        });
    }
    
    function handleAddFieldClick() {
        const block = $(this).closest(".block");
        const blockIndex = block.data("blockindex");
        const fieldContainer = block.find(".fieldContainer");
        const fields = block.find(".field");
        const fieldIndex = fields.length;
        
        $.ajax({
            url: '@Url.Action(nameof(HomeController.Field))',
            method: 'GET',
            data: { blockIndex, fieldIndex }
        }).done(function (field) {
            fieldContainer.append(field);
        });
    }
    
    $(function () {
        $("#btnAddBlock").click(handleAddBlockClick);
        $("body").on("click", "button[name='btnAddField']", handleAddFieldClick);
    });

</script>

<script>
    const editor = new EditorJS({
        holder: 'editorjs',
        tools: {
            header: {
                class: Header,
                inlineToolbar: false
            },
            list: {
                class: List,
                inlineToolbar: true,
            }
        },
    });
    function setupEditor(blockIndex) {
        const id = `editorjs_Blocks_${blockIndex}__Content`;
        const editor = new EditorJS({
            holder: id,
            tools: {
                header: {
                    class: Header,
                    inlineToolbar: false
                },
                list: {
                    class: List,
                    inlineToolbar: true,
                }
            },
        });
    }
    
    @for (var i = 0; i < Model.Blocks.Count; i++)
    {
        @:setupEditor(@i);
    }
</script>
