@model SubmitCheckBoxListDemo.Models.SaveModel
@{
    var action = ViewData["Action"];
}
<environment include="Development">
    <div>@Json.Serialize(Model)</div>
</environment>
<form method="post" enctype="multipart/form-data" form-mode="@Model.FormMode">
    <h2>@action</h2>
    <div asp-validation-summary="None" class="text-danger"></div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <section>
        @if (Model.FormMode == FormMode.Finish)
        {
            <p>Thank you</p>
            <a class="btn btn-primary" href="/">Back to home</a>
        }
    </section>
    <section>
        @if (Model.FormMode == FormMode.Edit || Model.FormMode == FormMode.Confirm)
        {
            <div class="form-group">
                <input type="text" asp-for="Username" class="form-control" placeholder="enter username">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            for(int i = 0; i < Model.Images.Count; i++) {
                <image-upload for="Images[i]"></image-upload>
            }
            <image-upload for="Image"></image-upload>
            <image-upload for="Image2"></image-upload>
        }
    </section>
    <hr>
    <section>
        @if (Model.FormMode == FormMode.Confirm)
        {
            <input type="submit" name="__ConfirmBack" value="Edit" class="btn btn-primary" />
        }
        @if (Model.FormMode == FormMode.Edit || Model.FormMode == FormMode.Confirm)
        {
            <button type="submit" class="btn btn-primary">@(Model.FormMode == FormMode.Edit ? "Confirm" : "Save")</button>
        }
    </section>
</form>